body{
    font-family: 'Open Sans', sans-serif;
}
.dFlex{
    display: flex;
}

.container{
    width: 50%;
    margin-left: 80px;
    padding: 50px;
    
}
.imgContainer{
    margin-top: 0;
    padding-top: 0;
}
.container img{
    width: 75%;
}

.container h1{
    font-size: 3rem;
}
.container h2{
    color: rgb(204, 37, 134);
    font-size: 2.5rem;
}

.btn{
  border: none;  
  padding: 10px 15px;
  border-radius: 5px;
  background: linear-gradient(#8103b6,#d011c2);
  color: rgb(232, 255, 248);
  font-weight: 900;
  cursor: pointer;
}
#myMission{
    font-size: 2.3rem;
    text-align: center;
}
#myMission span{
    color: rgb(204, 37, 134);
}
#secondSec{
    margin: 10px 50px;
}
#secondSec h5{
   font-size: 2rem;
   line-height: 2px;
}

#secondSec img{
    width: 50%;
    text-align: center;
}
.myMissionCart{
    border-radius: 10px;
    padding: 5px 20px;
    margin: 20px;  
}
#mission{
    background-color:rgba(38, 41, 218, 0.288);  
}
#vission{
    background-color:rgba(182, 10, 168, 0.212); 
}
#goal{
    background-color:rgba(194, 61, 61, 0.219);
}
#thirdSec img{
width: 80%;    
}
#codingImg{
    width: 45%;
    margin-left: 70px;
}
#develop{
width: 70%;
}
#knowGlobal {
    width: 50%;
    margin-left: 110px;
    padding-top: 44px;
}
#globalImg{
    width: 30%;
}
#globalImg img{
    width: 90%;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
#footer h2{
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
#footer span{
    color: rgb(133, 22, 2);
}